@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}



body{

    background: url(/images/wp8054747-betting-wallpapers.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-color: rgba(6, 73, 43, 0.3);
}


h1, h2{
    color: white;
    text-align: center;
    margin: 25px;
}



.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    margin: 50px;
    background-color: rgba(6, 73, 43, 0.3);
    width: 100%;
    margin: 0;

}


.main{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.teams{
    border-radius: 15px;
    width: 100px;
    border: 1px solid white;
}

.bet{
    display: flex;
    justify-content: center;
    align-items: center;
}

.team-bet{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    color: white;
    background-color: rgba(6, 73, 43, 0.3);
    margin-bottom: 50px;
    height: 50px;
}

.sum-bet{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 15px;
    gap: 40px;
}


.sum{
    text-align: center;
    width: 170px;
    height: 30px;
    border-radius: 25px;
    border: solid 1px white;
}


.btn{

    width: 150px;
    height: 50px;
    background-color: green;
    color: white;
    border-radius: 25px;
    border: solid 1px white;
}


.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 315px;
    height: 50px;
    border: solid 1px rgba(6, 73, 43, 0.3);
    background-color: rgba(6, 73, 43, 0.3);
    text-align: center;
    color: white;


    
}

